.row {
  display: flex;
  justify-content: space-around;
}

h1 {
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
}

.head-splash {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url(./images/head.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.head-splash-title {
  position: relative;
  top: 40px;
  left: 40px;
}