.row {
  display: flex;
  justify-content: space-around;
}

h1 {
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
}

.head-splash-bg{
  background-image: url('./images/head.jpg');
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head-splash-title {
  position: relative;
  top: 40px;
  left: 40px;
}